<p id="notice"></p>

<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>welcome to
      <svg></svg>
      <strong>Bookers</strong>
      !!
      </h1>
      <p>
        In
        <svg></svg>
        <strong>Bookers</strong>
      </p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about varius books!</p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <a>Log in</a>
          <a>Sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>